$largeFont: "Poiret One";

$mediumFont: "Yantramanav Medium";

$regularFont: "Harmattan";

.largeFont {
    font-family: $largeFont, sans-serif;
}

.mediumFont {
    font-family: $mediumFont, sans-serif;
}

.largeFont {
    font-family: $largeFont, sans-serif;
}