#contactH2{
    color: $nocBlack;
    font-family: $mediumFont;
    font-size: 3rem;
    text-align: center;

    button {
        font-family: $mediumFont;
        color: whitesmoke;
        font-size: 3rem;
        display:inline-block;
        width: 100%;
    }

}