@keyframes logoIntroduction {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#nocLogoSection {
    animation: logoIntroduction 2s ease-in;

    @media screen and (min-width: $laptopMin) {
        img {
        width: 100vw;
        }
    }

}