#nocStudioFooter {
    // position: absolute;
    // bottom: 0;
    height: 6em;
    width: 100%;
    background: black;
    text-align:center;
    color: whitesmoke;
}

// position:absolute;
// bottom:0;
// width:100%;
// height:60px;   /* Height of the footer */
// background:#6cf;