#wpcf7-f287-o1 {
    border:solid $nocRed;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: whitesmoke;
    border-style: double;
    padding: 3rem;
    font-family: $mediumFont;

    input, textarea {
        background: transparent;
        color: whitesmoke;
        font-family: $regularFont;
        font-size:1.3rem;
        width: auto;
    }
}