//small mobile (max 320px)

//medium mobile (min 321px - max 375px)

//large mobile (min 376px - max 425px)

//tablet (min 426px - max 768px)

//laptop (min 769px - max 1024px)

//large laptop (min 1025px - max 1440px)

//beyond
$smallMobileMax: 320px;

$mediumMobileMin: 321px;
$largeMobileMin: 376px;
$tabletMin: 426px;
$laptopMin: 769px;
$largeLaptopMin: 1025px;