.artist-slide {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-bottom: 2vw;

    
        img {
            width: auto;
            max-width: 15vw;
        }
    
}