.blog-hub-entry-full {
    box-shadow: .1vw .1vw $nocBlue;
    background: $transparentBackground;
    margin: 1rem;
    padding: 2rem;

    header.entry-header {
        h1.entry-title {
            background: none;
            color: black;
        }

        div.entry-meta {
            span {
                font-style: italic;
                font-family: $regularFont;
            }
        }
    }

    .entry-content {
        font-family: $regularFont;
        font-size: 1.8rem;
    }

    
}

@media screen and (min-width: $laptopMin) {
    .blog-hub-entry-full {
        width: 70vw;
        margin: auto;
        margin-bottom: 3vw;
    }
}