.blog-hub-entry {
box-shadow: .1vw .1vw;
    margin: 3rem;
    padding: 2rem;
    background: $transparentBackground;

    .entry-header {
        .entry-title {
            font-family: $mediumFont;
        }
    }

    .entry-content {
        font-family: $regularFont;
        font-size: 1.4rem;
    }

    .entry-meta {
        span {
            font-style: italic;
            font-family: $regularFont;
        }
    }

    a {
        img {
            border: solid;
            float: left;
            width: auto;
            max-width: 42vw;
            margin: 0.6rem;
        }
    }
}

@media screen and (min-width: $laptopMin) {
    .blog-hub-entry {
        width: 70vw;
        margin: auto;
        margin-bottom: 3vw;
    }
}