.comments-area {
    background: $nocYellow;
    box-shadow: 1vw 1vw $nocBlack;
    text-align: center;
    margin: 1rem;
    padding: 2rem;

    h3 {
        font-family: $largeFont;
    }

}

@media screen and (min-width: $laptopMin) {
    .comments-area {
        width: 50vw;
        margin: auto;
    }
}