.event-hub-entry {
    box-shadow: .5vw .5vw $nocYellow;
    background: $transparentBackground;
    margin: 1rem;
    padding: 2rem;

    header.entry-header {
        h1.entry-title {
            background: none;
            color: black;
        }

        div.entry-meta {
            span {
                font-style: italic;
                font-family: $regularFont;
            }
        }
    }

    .entry-content {
        font-family: $regularFont;
        font-size: 1.4rem;
    }

   
}

@media screen and (min-width: $laptopMin) {
    .event-hub-entry {
        width: 70vw;
        margin: auto;
        margin-bottom: 3vw;
    }
}