.news-hub-article-full {
    background: whitesmoke;

    header.entry-header {
        animation: none !important;

        

        h1.entry-title {
            background: unset;
            color: unset;
        }
    }
}
@media screen and (min-width: $laptopMin) {
    .news-hub-article-full {
        width: 70vw;
        margin: auto;
    }
}