.news-hub-article {
    box-shadow: 1vw 1vw;
    padding: 2rem;
    margin: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    background: $transparentBackground;

    header {
        h2 {
            font-family: $mediumFont;
            a {
            color: $nocBlack;
            }
        }

        .entry-meta {
            span {
                font-family: $regularFont;
                font-style: italic;
            }
        }

        .entry-title {
            font-family: $largeFont;
        }
    }

    .entry-content {
        font-family: $regularFont;
        font-size: 1.4rem;
    }

    
}

@media screen and (min-width: $laptopMin) {
    .news-hub-article {
        width: 70vw;
        margin: auto;
    }
}