@keyframes titleMovement {
    0% {
        opacity:0;
        height: auto;
    }

    70%{
        height: auto;
        color: whitesmoke;
    }

    100%{
        opacity: 1;
        border: none;

    }
}

@keyframes fontWork {
    0%{
        opacity: 0;
    }

    100% {
        opacity: 1;
        background: rgba(0,0,0, 0.4);
    }
}

.page-header, .entry-header {
    display: block;
    text-align:center;
    // padding: 1rem;
    // position: relative;
    // left: 1rem;
    // // transform: skew(-20deg);
    // margin: 1rem auto;
    // text-align: right;
    // width: 15vw;
    animation: titleMovement 2.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

    h1.page-title, h1.entry-title {
        margin-top: 0;
        font-family: $largeFont, sans-serif;
        font-size: 3rem;
        background: rgba(0,0,0, 0.4);

        color: whitesmoke;
        
        animation: titleMovement 4.5s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}